@font-face {
  font-family: "Madras";
  src: url("../assets/fonts/MadrasRegular.otf");
}
@font-face {
  font-family: "Madras";
  font-style: italic;
  src: url("../assets/fonts/MadrasRegularItalic.otf");
}
@font-face {
  font-family: "Madras";
  font-weight: bold;
  src: url("../assets/fonts/MadrasBold.otf");
}
@font-face {
  font-family: "Madras";
  font-style: italic;
  font-weight: bold;
  src: url("../assets/fonts/MadrasBoldItalic.otf");
}
