@import "@/styles/variables.scss";

.home-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  padding: 20%;
  color: $white-color;
  box-shadow: inset 0 0 100px 20px rgba($black-color, 0.5);
  background-image: url("../assets/images/background.jpg");

  p {
    margin: 20px 0;
    text-align: center;
    font-size: 24px;

    @include mobile-only {
      margin: 10px 0;
      font-size: 18px;
    }
  }

  @include tablet-only {
    padding: 5%;
  }
}

.home-links {
  width: 80%;
  padding-top: 20px;
  text-align: center;
  border-top: 2px solid rgba($white-color, 0.5);

  @include mobile-only {
    padding-top: 10px;

    .home-icon {
      height: 30px;
      width: 30px;
    }
  }
}

.home-icon {
  margin: 0 2.5%;

  &:hover {
    filter: $filter-primary-color;
  }
}

.home-button {
  position: absolute;
  bottom: 25px;
  left: 0;
  z-index: 1;
  height: 50px;
  width: 100%;
  text-align: center;

  @include mobile-only {
    bottom: 10px;
  }
}

.footer-button {
  position: relative;
  bottom: -25px;
  left: 0;
  z-index: 1;
  height: 0;
  width: 100%;
  text-align: center;
  transform: rotate(180deg);
}
