@import "@/styles/variables.scss";

.legacy-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 100px);
  padding: 85px 20% 35px 20%;
  text-align: center;
  color: $white-color;
  background: $tertiary-color;

  @include tablet-only {
    padding: 85px 5% 35px 5%;
  }

  h2 {
    color: $white-color;
  }
}
